@font-face {
    font-family: "Milkshake";
    src: url("../fonts/Milkshake.otf");
    url("../fonts/Milkshake.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

body{
	background: url(../img/bg.png);
	position: relative;
	height: 100vh;
}

	.daniel{
		padding-top: 4%;
		text-align: center;
		font-family: 'Milkshake';
		font-size: 60px;
		opacity: 0;
		-webkit-animation: fadein 5s ease-out forwards;
	}

	.main{
		width: 28%;
		margin: 0 auto;
		padding-top: 10px;
		opacity: 0;
		-webkit-animation: fadein 5s ease-in 1s forwards;
	}

@-webkit-keyframes fadein {
  from { opacity: 0}
  to   { opacity: 1}
}
@-moz-keyframes fadeIn {
	from { opacity: 0; } 
	to { opacity: 1; } 
}
@keyframes fadeIn {
	from { opacity:0; }
	to { opacity:1; } 
}

@media screen and (max-width: 326px){
	body{
		position: relative;
		overflow-y: hidden;
		overflow-x: hidden;
		height: 100vh;
	}
	
	.daniel{
		position: absolute;
		font-size: 28px;
		top: 20%;
		left: 13%;
		-webkit-animation: fadein 4s ease-out forwards;
	}

	.main{
		width: 80%;
		position: absolute;
		top: 30%;
		left: 12%;
		-webkit-animation: fadein 5s ease-in 1s forwards;
	}
}
